.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.form div {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  margin: 5px;
}

.form div #submit {
  display: flex;
  box-sizing: border-box;
  margin: 5px;
}
