#pic1 {
  box-sizing: border-box;
  box-shadow: 16px;
  border-color: black;
  border-radius: 5px;
  border-style: groove;
  max-width: 294.66px;
  max-height: 441.77;
}
h2 {
  display: flex;
  padding: 20px;
  text-decoration: underline;
}
#p1 {
  display: flex;
  padding: 20px;
}
#p2 {
  display: flex;
  padding: 20px;
}
