html {
  background-color: black;
  height: 100vh;
  width: 100%;
}

body {
  background-color: rgb(39, 37, 37);
  margin: auto;
  margin-top: 15px;
}

section {
  max-width: 1000px;
  min-width: 432px;
  background-color: white;
  margin: auto;
  margin-bottom: 35px;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
}

.article1 {
  display: flex;
  box-sizing: border-box;
}

#pic1 {
  box-sizing: border-box;
  box-shadow: 16px;
  border-color: black;
  border-radius: 5px;
  border-style: groove;
  max-width: 294.66px;
  max-height: 441.77;
}

h2 {
  display: flex;
  padding: 20px;
  text-decoration: underline;
}

#p1 {
  display: flex;
  padding: 20px;
}

#p2 {
  display: flex;
  padding: 20px;
}

.article2 {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

nav {
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding: 20px;
  border-style: double;
  border-color: rgba(169, 169, 169, 0.527);
  border-top: 40px;
  border-radius: 5px;
  font-weight: bolder;
  z-index: 200;
}

.logoheader {
  display: flex;
  flex-direction: wrap;
}

#dpmlogo {
  display: flex;
}

#dpmlogo a:hover {
  border-radius: 5px;
  background-color: rgba(169, 169, 169, 0.527);
}

#Name {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-left: 5px;
  padding-top: 20px;
  color: black;
  font-size: 50px;
  text-decoration: underline;
  box-shadow: 5px;
}

.links {
  list-style-type: none;
  font-size: 17px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.links a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}

.links a:hover {
  font-size: 25px;
  border-radius: 5px;
  background-color: rgba(169, 169, 169, 0.527);
  text-decoration: underline;
  border-style: double;
  border-color: gray;
}

header {
  background-color: rgba(169, 169, 169, 0.527);
  margin-top: 30px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: double;
  border-color: gray;
  display: flex;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 35px;
  font-weight: bold;
}

.headbox {
  box-sizing: border-box;
  margin: auto;
  max-width: 1025px;
  min-width: 432px;
}

#headertext {
  margin: auto;
  padding: 5px 30px 5px 30px;
  width: 250px;
  box-sizing: border-box;
  border-style: double;
  border-color: black;
  display: flex;
  justify-content: center;
  background-color: rgba(169, 169, 169, 0.527);
  border-radius: 5px;
  max-width: 900px;
}

footer {
  box-sizing: border-box;
  position: relative;
  justify-content: start;
  bottom: 0;
  margin-top: 10px;
  margin: auto;
  width: 100%;
  height: 110px;
  background-color: gray;
  border-style: double;
  border-color: rgba(169, 169, 169, 0.527);
  border-radius: 5px;
  font-weight: bolder;
  z-index: 11;
}

.scroll-arrow {
  position: fixed;
  right: 26px;
  bottom: 26px;
  width: 36px;
  height: 36px;
  background: rgba(128, 128, 128, 0.466);
  border-radius: 50% 0 50% 50%;
  transform: rotate(-45deg);
  z-index: 9;
}

#scroll-text {
  color: white;
  position: fixed;
  right: 30px;
  bottom: 33px;
  font-size: 19px;
  z-index: 10;
  text-shadow: 2px 2px 10px rgba(169, 169, 169, 0.527);
  font-family: Arial, sans-serif;
  font-weight: bold;
}

#scroll-top {
  float: center;
}

#scroll-top a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div a:hover {
  background-color: #444;
}

/*# sourceMappingURL=index.css.map */
