$maincolor: gray;
$secondarycolor: rgba(169, 169, 169, 0.527);
$textcolor: black;
nav {
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: $maincolor;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding: 20px;
  border-style: double;
  border-color: $secondarycolor;
  border-top: 40px;
  border-radius: 5px;
  font-weight: bolder;
  z-index: 200;
}
.logoheader {
  display: flex;
  flex-direction: wrap;
}
#dpmlogo {
  display: none;
}
#dpmlogo a:hover {
  border-radius: 5px;
  background-color: $secondarycolor;
}
#Name {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-left: 5px;
  padding-top: 20px;
  color: $textcolor;
  font-size: 25px;
  text-decoration: underline;
  box-shadow: 5px;
}
.links {
  list-style-type: none;
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.links a {
  color: $textcolor;
  padding: 10px 12px;
  text-decoration: none;
}

.links a:hover {
  font-size: 15px;
  border-radius: 5px;
  background-color: $secondarycolor;
  text-decoration: underline;
  border-style: double;
  border-color: $maincolor;
}
@media screen and (min-width: 600px) {
  #Name {
    font-size: 50px;
  }
  .links a {
    color: $textcolor;
    padding: 14px 16px;
    text-decoration: none;
  }
  .links a:hover {
    font-size: 25px;
  }
  .links {
    list-style-type: none;
    font-size: 17px;
  }
  #dpmlogo {
    display: flex;
  }
}
