$articlecolor: whitesmoke;
.DPM {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-around;
  background-color: $articlecolor;
}
.DPM img {
  display: flex;
  box-sizing: border-box;
  box-shadow: 16px;
  border-color: black;
  border-radius: 5px;
  border-style: groove;
  max-width: 100px;
  max-height: 100px;
  margin: auto;
}
.DPM div {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  padding: 30px;
}
.DPM div h3 {
  display: flex;
  box-sizing: border-box;
  margin: auto;
  text-decoration: underline;
  font-weight: bold;
}
.DPM div p {
  display: flex;
  box-sizing: border-box;
  margin: auto;
  width: 450px;
}
